* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7) 0%,
    black 50%,
    #21c28f 50%,
    rgba(127, 255, 212, 1) 100%
  );
  background-color: aquamarine;
  border-radius: 6px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.col1,
.col2 {
  transition: transform 0.5s;
}
body .col1:hover,
body .col2:hover {
  transform: translateY(-20px);
}

h1 {
  color: #154f41;
  text-align: center;
  padding-top: 10px;
}
.col1 h1 {
  color: rgba(0, 0, 0, 0.7);
}

.hobbies {
  margin-left: 20px;
  margin-right: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.col2 p {
  padding-top: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #154f41;
  margin-bottom: 50px;
  margin-top: 30px;
  width: 30vw;
  height: 80px;
  border-radius: 10px;
  font-size: larger;
}
.col1 p {
  padding-top: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 50px;
  margin-top: 30px;
  width: 30vw;
  height: 80px;
  border-radius: 10px;
  font-size: larger;
}

/* for phones */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: large;
  }
  .col2 p,
  .col1 p {
    font-size: medium;
    text-align: center;
  }
  .communication {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 400px) {
  /* h1{
    color: white;
} */
  .col2 p,
  .col1 p {
    /* color: white; */
    font-size: x-small;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    padding-top: 40px;
    height: 90px;
  }
  body {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .col1 p,
  .col2 p {
    height: 122px;
    padding-top: 50px;
    font-weight: bolder;
  }
  .teamwork {
    padding-right: 5px;
    padding-left: 5px;
  }
  .col2 .communication {
    padding-top: 35px;
  }
}
